<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Close requests </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/index" class="navbar-brand">Главная</a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/close_requests">Закрыть запрос от ребенка</a></li>
                    <li><a href="/requests">Просмотр запросов от ребенка</a></li>

                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>


<div class="container-fluid">
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        {{form.tasks(size=10)}}<br>
        {% for error in form.errors.tasks %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>


    <p><input type="submit" value="Закрыть"></p>
</form>

    <h4 class="text-width">Выберете в пунтке меню, какой запрос вы хотите закрыть.</h4><br>
</div>
</body>
</html>