<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Главная </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/index" class="navbar-brand">Главная</a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/add_child">Зарегистрировать ребенка</a>
                    <li><a href="/view_task">Задачи</a></li>
                    <li><a href="/requests">Запросы от ребенка</a></li>
                    <li><a href="/score">Дневник</a></li>
                    <li><a href="/pay_children">Перевести деньги</a></li>
                    <li><a href="/block_pay_children">Оштрафовать</a></li>
                    <li><a href="https://telegram.me/FinMotRebBot">Телеграмм Бот</a></li>
                    <li><a href="/logout">Выход</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid">
    <p class="text-primary">Ваш баланс={{balance_p}}</p> <p></p>
    </div>
    <table class="table table-bordered table-hover ">
        <thead>
            <tr class="active">
                <th>ФИО детей</th>
                <th>Баланс на счете</th>
            </tr>
        </thead>
        <tbody>
        <tr>
                {% for i in balance_c %}
                <td>{{i}}</td>
                        <td>{{balance_c[i]}}</td>
             </tr>
                    {% endfor %}



        </tbody>
    </table>
<br><br><br>
<h4 class="text-width">Это главная страница приложения. </h4><br>
<h4 class="text-width">Здесь вы можете видеть баланс вашего счета, таблицу с вашими детьми и балансом на их счетах
</h4><br>
<h4 class="text-width">В верхней панели вы можете найти функции сервиса</h4><br>



</body>
</html>